.c-blog-module{
  width:30%;
  text-align:left;
  letter-spacing:0.126em;
  margin-bottom:5vw;
  @media screen and (max-width:600px){
    width:45%;
    margin-bottom:10vw;
  }
  & figure{
    object-fit:cover;
    height:231px;
    @media screen and (max-width:600px){
      height:116px;
    }
    & img{
      width:100%;
      height:100%;
    }
  }

  & time,p{
    display:inline-block;
    font-family:"Yu Gothic";
    font-weight:bold;
    color:#A4ABB0;
    line-height:1.5;
  }

  & p{
    width:70%;
    @media screen and (max-width:600px){
      width:100%;
    }
  }

  & h4{
    font-family:"Yu Gothic";
    font-weight:bold;
    color:#5B5C5C;
    margin:2vw 0;
    line-height:1.2;
  }

  & time{
    @media screen and (max-width:600px){
      display:none;
    }
  }
}
