.c-blue-button{
  background-color:#364D6A;
  text-align:center;
  letter-spacing:0.126em;
  border-radius:5vw;
  width:25%;
  margin:5vw auto;
  @media screen and (max-width:600px){
    width:80%;
    border-radius:10vw;
  }
  & a{
    display:inline-block;
    font-family:"Yu Gothic";
    font-weight:bold;
    color:#ffffff;
    padding:2.5vw 0px;
    @media screen and (max-width:600px){
      font-size:0.16rem;
      padding:5vw 0px;
    }
  }
}
