.c-header-title{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#202037;
  height:15vw;
  @media screen and (max-width:600px){
    height:20vw;
  }
  & h3{
    font-family:"Avenir";
    letter-spacing:0.207em;
    line-height:1.3;
    color:#ffffff;
  }
}
