ol.pagination {
  text-align: center;
  margin: 0 0 10vw 0;
  padding: 0;
}

.pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background:#fff;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border:solid 1px #707070;
}

.pagination li a{
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display:table;
  color: #202037;
  text-decoration: none;
  font-weight:bold;
}

.pagination li a span{
  display:table-cell;
  vertical-align:middle;
}

.pagination li a:hover,
.pagination li a.active{
  color: #fff;
  background: #202037;
}

@media only screen and (max-width:600px){
  .pagination li{
    display: none;
  }

  .pagination li.pre,
  .pagination li.next{
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }

  .pagination li.pre a,
  .pagination li.next a{
    width: 100%;
    text-align: center;
  }

  .pagination li.pre span::after{
    content: "　前の10件へ";
  }

  .pagination li.next span::before{
    content: "次の10件へ　";
  }
}
