.swiper-container{
  width:100%;
  text-align:center;
  @media screen and (max-width:600px){
    display:none;
  }
  .swiper-wrapper{
    width:100%;
    .swiper-slide img{
      width:100%;
    }
  }

  .swiper-pagination{
    display:none;
  }

  .swiper-scrollbar{
    display:none;
  }
}
