.service-title{
  display:flex;
  align-items:center;
  justify-content:center;
  .service-number{
    background-color:#2c334b;
    font-family:"Avenir";
    font-size:0.2rem;
    color:#ffffff;
    padding:10px 0;
  }
  .service-name{
    background-color:#ffffff;
    font-family:"Yu Gothic";
    font-size:0.24rem;
    font-weight:bold;
    color:#212138;
    padding:10px 0;
  }
}
