.blog-article-contents{
  width:62%;
  margin:5vw auto 15vw auto;
  @media screen and (max-width:600px){
    width:90%;
  }
  .large-heading{
    margin-bottom:10vw;
    & time{
      display:inline-block;
      font-family:"Avenir";
      color:#A4ABB0;
      line-height:1.5;
      margin-bottom:1vw;
    }
    .large-heading-title{
      font-family:"Yu Gothic";
      font-size:0.32rem;
      font-weight:bold;
      color:#5B5C5C;
      letter-spacing:0.126em;
      line-height:1.3;
      margin-bottom:1.5vw;
      @media screen and (max-width:600px){
        font-size:0.2rem;
      }
    }
    & figure{
      width:100%;
      margin-bottom:4vw;
      & img{
        width:100%;
      }
    }
    .c-text-box{
      & > p{
        font-size:0.16rem;
        font-weight:Medium;
        color:#343434;
        line-height:1.5;
      }
    }
  }

  .middle-heading{
    margin-bottom:15vw;
    .middle-heading-title{
      position:relative;
      font-family:"Yu Gothic";
      font-size:0.32rem;
      font-weight:bold;
      color:#343434;
      letter-spacing:0.126em;
      line-height:1.3;
      padding:2vw 0;
      margin-bottom:4vw;
      @media screen and (max-width:600px){
        font-size:0.2rem;
      }
    }
    .middle-heading-title::after,.middle-heading-title::before{
      content: "";
      position:absolute;
      width:100%;
      height:0;
      border:solid 1px #707070;
    }
    .middle-heading-title::after{
      top:0;
      left:0;
    }
    .middle-heading-title::before{
      bottom:0;
      left:0;
    }
    .c-text-box{
      & > p{
        font-size:0.16rem;
        font-weight:Medium;
        color:#343434;
        line-height:1.5;
      }
    }
  }

  .small-heading{
    margin-bottom:10vw;
    .small-heading-title{
      font-family:"Yu Gothic";
      font-size:0.2rem;
      font-weight:bold;
      color:#343434;
      line-height:1.2;
      background-color:#F2F2F2;
      padding:2vw;
      margin-bottom:2vw;
    }
    .c-text-box{
      & > p{
        font-size:0.16rem;
        font-weight:Medium;
        color:#343434;
        line-height:1.5;
        margin-bottom:15vw;
      }
    }
    & figure{
      width:50%;
      margin:0 auto;
      @media screen and (max-width:600px){
        width:70%;
      }
      & img{
        width:100%;
      }
    }
  }

  .blog-article-share{
    display:flex;
    justify-content:center;
    width:100%;
    & figure{
      width:27vw;
      & img{
        width:100%;
        vertical-align:bottom;
      }
    }
    .share-type{
      width:55%;
      .facebook , .twitter{
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        height:50%;
        border:solid 1px #D0D0D0;
        box-sizing:border-box;
        & a{
          display:inline-block;
          font-family:"Yu Gothic";
          font-size:0.16rem;
          font-weight:bold;
          color:#343434;
          line-height:1.2;
          @media screen and (max-width:600px){
            font-size:0.14rem;;
          }
        }
      }
    }
  }
}

.blog-article-latest{
  width:90%;
  margin:0 auto 5vw auto;
  & p{
    font-family:"Yu Gothic";
    font-size:0.2rem;
    font-weight:bold;
    color:#343434;
    line-height:1.2;
    margin-bottom:3vw;
  }
  .blog-article-latest-inner{
    display:flex;
    justify-content:space-between;
    list-style:none;
    @media screen and (max-width:600px){
      justify-content:center;
      align-items:center;
      flex-direction:column;
    }
    .c-blog-module{
      @media screen and (max-width:600px){
        width:90%;
        margin-bottom:5vw;
      }
    }
  }
}
