.blog-list-box{
  margin:7vw;
  .blog-list-box-inner{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    list-style:none;
    .c-blog-module{
      width:30%;
      @media screen and (max-width:600px){
        width:47%;
      }
    }
  }
}
