.p-contact{
  text-align:center;
  letter-spacing:0.126em;
  .contact-inner{
    padding:15vw 0 10vw 0;
    @media screen and (max-width:600px){
      padding:15vw 0 30vw 0;
    }
    .contact-title-pc{
      font-family:"Yu Gothic";
      font-size:0.2rem;
      font-weight:bold;
      color:#252525;
      @media screen and (max-width:600px){
        display:none;
      }
    }

    .contact-title-sp{
      display:none;
      @media screen and (max-width:600px){
        display:inline-block;
        width:85%;
        font-family:"Yu Gothic";
        font-size:0.2rem;
        font-weight:bold;
        line-height:1.5;
        color:#252525;
        margin-bottom:5vw;
      }
    }

    .c-blue-button{
      background-color:#202037;
      border-radius:10vw;
      width:40%;
      @media screen and (max-width:600px){
        width:90%;
        border-radius:10vw;
      }
      & > a{
        font-family:"Avenir";
        font-size:0.32rem;
        padding:3.5vw 0px;
        @media screen and (max-width:600px){
          font-size:0.16rem;
          padding:7vw 0px;
        }
      }
    }
  }
}
