.map-inner{
  height: 0;
  overflow: hidden;
  padding-bottom: 31.7%;
  position: relative;
  #map {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
  }
  @media screen and (max-width:600px){
    padding-bottom: 100%;
  }
}
