.p-index-service{
  text-align:center;
  letter-spacing:0.126em;
  @media screen and (max-width:600px){
    margin-bottom:50vw;
  }
  & h3{
    font-family:"Avenir";
    color:#a4abb0;
    margin:15vw 0 5vw 0;
    @media screen and (max-width:600px){
      margin:15vw 0 10vw 0;
    }
  }

  .service-box{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin:0 5vw;
    list-style:none;
    .service-box-module{
      width:30%;
      text-align:center;
      letter-spacing:0.126em;
      @media screen and (max-width:600px){
        width:90%;
        margin-bottom:15vw;
      }
      & > div{
        position:relative;
        margin-bottom:4.5vw;
        @media screen and (max-width:600px){
          margin-bottom:15vw;
        }
        & figure{
          object-fit:cover;
          & img{
            width:100%;
          }
        }
        .service-title{
          position:absolute;
          transform: translate(-50%, 50%);
          -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
          left:50%;
          bottom:0;
          z-index:100;
          border:solid 3px #2c334b;
          background-color:#2c334b;
          width:90%;
          .service-number{
            width:20%;
          }
          .service-name{
            width:80%;
          }
        }
      }
      .service-text{
        font-family:"Yu Gothic";
        font-weight:bold;
        color:#A4ABB0;
        text-align:left;
        @media screen and (max-width:600px){}
        line-height:1.5;
      }
    }
  }
}
