.p-index-blog{
  text-align:center;
  letter-spacing:0.126em;
  margin-bottom:15vw;
  @media screen and (max-width:600px){
    margin-bottom:50vw;
  }
  & h3{
    font-family:"Avenir";
    color:#a4abb0;
    margin:15vw 0 5vw 0;
    @media screen and (max-width:600px){
      margin:15vw 0 10vw 0;
    }
  }

  .blog-box{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin:0 5vw;
    list-style:none;
  }
}
