.point-box{
  .point-box-inner{
    margin:10vw 6.5vw 15vw 6.5vw;
    @media screen and (max-width:600px){
      margin:10vw 6.5vw 20vw 6.5vw;
    }
    .point-title{
      margin-bottom:3.5vw;
      .point-title-main{
        font-family:"Avenir";
        font-size:0.36rem;
        color:#252635;
        letter-spacing:0.276em;
        line-height:1.3;
        @media screen and (max-width:600px){
          font-size:0.24rem;
        }
        &::after{
          content:'';
          display:block;
          background:linear-gradient(270deg,#AB5683,#C07C59);
          width:13.5vw;
          height:4px;
          margin:1.5vw 0 3vw 0;
          @media screen and (max-width:600px){
            width:30vw;
          }
        }
      }

      .point-title-sub{
        font-family:"Yu Gothic";
        font-size:0.2rem;
        font-weight:bold;
        color:#2B2B2B;
        letter-spacing:0.084em;
        line-height:2;
        text-indent:0.5em;
        @media screen and (max-width:600px){
          font-size:0.16rem;
          text-indent:0;
        }
      }
    }

    .point-text-box{
      display:flex;
      justify-content:space-between;
      flex-wrap:wrap;
      .c-text-box{
        width:47%;
        @media screen and (max-width:600px){
          width:100%;
          margin:0 auto;
          justify-content:center;
        }
      }
    }
  }
}
