.profile-box{
  background-color:#F2F2F2;
  .profile-box-inner{
    display:flex;
    justify-content:center;
    padding:10vw 0;
    @media screen and (max-width:600px){
      flex-direction:column-reverse;
      align-items:center;
    }
    .office-data{
      width:40%;
      @media screen and (max-width:600px){
        width:70%;
      }
      .office-data-title{
        font-family:"Avenir";
        font-size:0.36rem;
        color:#212F41;
        letter-spacing:0.126em;
        line-height:1.3;
        margin-bottom:5vw;
        @media screen and (max-width:600px){
          font-size:0.2rem;
          font-weight:bold;
          margin-top:3vw;
        }
      }
      .office-data-list{
        & dt{
          float:left;
          clear:both;
        }
        & dt,dd{
          font-family:"Yu Gothic";
          font-weight:bold;
          color:#505050;
          letter-spacing:0.126em;
          line-height:2.5;
          @media screen and (max-width:600px){
            line-height:1.5;
          }
        }
      }
    }
    & figure{
      width:50%;
      @media screen and (max-width:600px){
        width:70%;
      }
      & img{
        width:100%;
      }
    }
  }
}
