.price-list-box{
  margin:10vw 0;
  .price-list-module{
    width:95%;
    margin:0 auto 10vw auto;
    .service-title{
      width:30%;
      margin-bottom:2vw;
      @media screen and (max-width:600px){
        width:90%;
      }
      .service-number{
        width:22%;
        text-align:center;
        padding:2vw 0.5vw;
        @media screen and (max-width:600px){
          font-size:0.18rem;
        }
      }
      .service-name{
        width:78%;
        margin-left:2vw;
        @media screen and (max-width:600px){
          font-size:0.18rem;
        }
      }
    }
    & > p{
      font-family:"Yu Gothic";
      font-size:0.2rem;
      font-weight:bold;
      color:#474747;
      letter-spacing:0.126em;
      line-height:1.5;
      margin-bottom:1vw;
      @media screen and (max-width:600px){
        font-size:0.18rem;
      }
    }
    .c-text-box{
      margin-bottom:2vw;
      & > p{
        @media screen and (max-width:600px){
          line-height:1.5;
        }
      }
    }
    .price-01 td:nth-child(1){
      background:#F2F2F2;
    }
    .price-02 tr:nth-child(n+3):nth-child(odd){
      background:#F2F2F2;
    }
    & table{
      width:100%;
      margin-bottom:2vw;
      @media screen and (max-width:600px){
        width:150%;
      }
      & th{
        font-family:"Yu Gothic";
        font-weight:bold;
        color:#202037;
        letter-spacing:0.126em;
        line-height:1.5;
        text-align:left;
        padding-left:2vw;
        padding-bottom:0.8vw;
      }
      & td{
        border:solid 1px #979797;
        padding:1vw 0;
      }
      & tr:nth-child(2){
        border-top:solid 5px #212138;
      }
      .row-1{
        width:45%;
      }
      .row-2{
        width:22%;
      }
      .row-3{
        width:33%;
      }
    }
  }
  .table-scroll{
    @media screen and (max-width:600px){
      overflow-x:scroll;
    }
  }
}
