.service-list-box{
  border:solid 15px #F2F0E8;
  .service-list-box-inner{
    margin:10vw 5vw 0 5vw;
    .service-list-box-module{
      display:flex;
      justify-content:space-between;
      margin-bottom:15vw;
      @media screen and (max-width:600px){
        justify-content:center;
        flex-direction:column;
        align-items:center;
      }

      .module-left{
        width:52%;
        @media screen and (max-width:600px){
          width:100%;
          margin-bottom:10vw;
        }
        .service-title{
          margin-bottom:3.5vw;
          .service-number{
            width:15%;
            text-align:center;
            padding:2vw 1vw;
            @media screen and (max-width:600px){
              width:30%;
            }
          }
          .service-name{
            width:85%;
            margin-left:3vw;
            @media screen and (max-width:600px){
              width:70%;
            }
          }
        }
        .c-text-box{
          width:100%;
        }
      }

      .module-right{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        background-color:#F2F0E8;
        width:43%;
        @media screen and (max-width:600px){
          width:100%;
          padding:5vw 0;
        }
        .prepare-box{
          display:flex;
          align-items:center;
          justify-content:center;
          margin:4vw auto;
          & p{
            font-family:"Yu Gothic";
            font-size:0.2rem;
            font-weight:bold;
            color:#202037;
            letter-spacing:0.207em;
            line-height:1.5;
            margin:0 2vw;
          }
          & figure{
            width:3vw;
            & img{
              width:100%;
            }
          }
          .reverse{
            transform:scale(-1,-1);
          }
        }
        .prepare-list{
          display:flex;
          align-items:center;
          flex-direction:column;
          margin:0 2vw 4vw 2vw;
          @media screen and (max-width:600px){
            margin:0 0 4vw 5vw;
          }
          & ul{
            list-style:disc;
            & li{
              font-family:"Yu Gothic";
              font-weight:bold;
              color:#888888;
              letter-spacing:0.207em;
              line-height:1.5;
              text-align:left;
              margin:0.5vw 0;
              list-style-position:inside;
            }
          }
        }
        .c-blue-button{
          background-color:#202037;
          width:60%;
          margin:0 auto 4vw auto;
        }
        .suggestion{
          text-align:center;
          margin:4vw auto;
          & > p{
            font-family:"Yu Gothic";
            font-weight:bold;
            color:#202037;
            letter-spacing:0.207em;
            line-height:1.55;
            @media screen and (max-width:600px){
              font-size:0.14rem;
            }
          }
        }
      }
    }
  }
}
