//1* font-size base
html{
  font-size:100px;
}

body{
  font-size:0.16rem;
}

h2{
  font-size:0.24rem;
}

h3{
  font-size:0.48rem;
}

h4{
  font-size:0.2rem;
}

p{
  font-size:0.16rem;
}

time{
  font-size:0.16rem;
}

a{
  font-size:0.16rem;
}

dt,dd{
  font-size:0.2rem;
}

li{
  font-size:0.16rem;
}

th{
  font-size:0.14rem;
}

@media screen and (max-width:600px){ //window size under 600px setting
  html{
    font-size:100px;
  }

  body{
    font-size:0.16rem;
  }

  h2{
    font-size:0.24rem;
  }

  h3{
    font-size:0.24rem;
  }

  h4{
    font-size:0.14rem;
  }

  p{
    font-size:0.12rem;
  }

  time{
    font-size:0.12rem;
  }

  a{
    font-size:0.16rem;
  }

  dt,dd{
    font-size:0.16rem;
  }

  li{
    font-size:0.14rem;
  }

  th{
    font-size:0.14rem;
  }
}
//1* end
