header{
  min-width:1150px;
  @media screen and (max-width:600px){
    min-width:inherit;
  }
}
// index.html
.header-main{
  position:relative;

  .title-box{
    position:absolute;
    top:13.5vw;
    left:10.5vw;
    z-index:100;
    width:56%;
    @media screen and (max-width:600px){
      top:41.5vw;
      left:4.5vw;
      width:85%;
    }
    & h1{
      width:100%;
      & img{
        width:100%;
      }
    }
    & p{
      font-family:"Yu Gothic";
      font-weight:bold;
      font-size:0.24rem;
      color:#ffffff;
      margin-top:5vh;
      @media screen and (max-width:600px){
        font-size:0.16rem;
        line-height:1.5;
        margin-right:27vw;
      }
    }
  }

  .sp-main{
    display:none;
    @media screen and (max-width:600px){
      display:inline-block;
      width:100%;
    }
    & img{
      width:100%;
    }
  }

  .news{
    display:flex;
    justify-content:flex-end;
    .news-box{
      width:50%;
      text-align:center;
      @media screen and (max-width:600px){
        width:100vw;
        text-align:left;
      }
      .news-box-inner{
        margin:5vw 2vw;
        @media screen and (max-width:600px){
          margin:10vw 5vw;
          border-bottom:solid 17px #202037;
        }
        & h2{
          font-family:"Avenir"; //mac標準フォント
          color:#364d6a;
        }

        & ol li{
          display:flex;
          justify-content:space-between;
          list-style:none;
          margin-top:3.5vw;
          letter-spacing:0.126em;
          line-height:1.5;
          @media screen and (max-width:600px){
            margin-bottom:5vw;
          }
          & time{
            font-family:"Avenir"; //mac標準フォント
            font-weight:Medium;
            color:#1c1c1c;
          }

          & p{
            font-family:"Hiragino Sans"; //mac標準フォント
            color:#1c1c1c;
            text-align:left;
            margin-left:3.5vw;
          }
        }
      }
    }
  }

  .blue-box{
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    width:50%;
    background:linear-gradient(180deg,#364d6a,#599dc0);
    @media screen and (max-width:600px){
      position:static;
      width:100vw;
      margin:0 auto;
      background:none;
    }
    .bulu-box-inner{
      width:75%;
      font-family:"Yu Gothic";
      font-weight:bold;
      line-height:2;
      margin:6vw auto;
      @media screen and (max-width:600px){
        width:90%;
      }
      .blue-box-text1{
        font-size:0.24rem;
        color:#ffffff;
        margin-bottom:5vw;
        @media screen and (max-width:600px){
          color:#333333;
          font-size:0.22rem;
          margin-bottom:15vw;
        }
      }
      .blue-box-text2{
        letter-spacing:0.126em;
        color:#ececec;
        @media screen and (max-width:600px){
          color:#333333;
        }
      }
    }
  }
}


// about.html
.about-header-main{
  .about-header-main-subtitle{
    position:relative;
    margin-bottom:10vw;
    & figure{
      width:100%;
      & img{
        width:100%;
      }
    }

    .subtitle-box{
      position:absolute;
      display:flex;
      align-items:center;
      justify-content:center;
      transform: translate(-50%, 50%);
      -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
      left:50%;
      bottom:0;
      z-index:100;
      background-color:#F2F0E8;
      width:80%;
      @media screen and (max-width:600px){
        width:100%;
        left:0;
        top:0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        flex-direction:column;
        background-color:rgba(255,255,255,0.5);
        text-align:center;
      }
      .concept{
        font-family:"Avenir";
        font-size:0.36rem;
        letter-spacing:0.207em;
        line-height:1.3;
        color:#434343;
        width:35%;
        padding:6vw 0;
        margin-left:3vw;
        @media screen and (max-width:600px){
          font-size:0.18rem;
          font-weight:bold;
          width:90%;
          padding:0;
          border-bottom:solid 1px #202037;
          margin-left:0;
        }
      }
      .concept-text{
        font-family:"Yu Gothic";
        font-weight:bold;
        font-size:0.2rem;
        letter-spacing:0.084em;
        line-height:2;
        color:#434343;
        width:53%;
        padding:6vh 0;
        margin-left:3vw;
        @media screen and (max-width:600px){
          font-size:0.16rem;
          width:90%;
          padding:0;
          line-height:1.5;
          margin-top:5vw;
          margin-left:0;
        }
      }
    }
  }
}

// service.html
.header-photo{
  width:100%;
  & img{
    width:100%;
    vertical-align:bottom;
  }
}

// price.html
.price-menu{
  border-top:solid 1px #202037;
  border-bottom:solid 1px #202037;
  .price-menu-innder{
    display:flex;
    justify-content:space-between;
    width:90%;
    margin:2vw auto;
    .price-button{
      display:flex;
      align-items:center;
      justify-content:center;
      flex-direction:column;
      width:30%;
      & p{
        font-family:"Yu Gothic";
        font-weight:bold;
        font-size:0.24rem;
        letter-spacing:0.126em;
        line-height:1.5;
        @media screen and (max-width:600px){
          font-size:0.14rem;
        }
      }
      .arrow-bottom{
        position:relative;
        display:inline-block;
        width:15px;
        height:15px;
        @media screen and (max-width:600px){
          width:10px;
          height:10px;
        }
      }
      .arrow-bottom::before{
        content:'';
        width:15px;
        height:15px;
        border:0px;
        border-top:solid 4px #212138;
        border-right:solid 4px #212138;
        -ms-transform:rotate(135deg);
        -webkit-transform:rotate(135deg);
        transform:rotate(135deg);
        position:absolute;
        bottom:0;
        left:-50%;
        margin-bottom:4px;
        margin-left:40%;
        @media screen and (max-width:600px){
          width:10px;
          height:10px;
          border-top:solid 2px #212138;
          border-right:solid 2px #212138;
          margin-bottom:2px;
        }
      }
    }
  }
}

// price.html
// blog.html
// blog-article.html
.header-bgcolor{
  background-color:#FAFAFA;
}
