.l-header-top{
  width:85%;
  margin:auto;
  @media screen and (max-width:600px){
    display:none;
  }
  .header-top_items{
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      width:15%;
      margin:0;
      & figure{
        width:100%;
        & img{
          width:100%;
        }
      }
    }

    .global-nav_items{
      display:flex;
      list-style:none;
      & li{
        margin:0 2vw;
        & a{
          text-decoration: none;
          color:#444444;
        }
      }
      & li:last-child{
        margin-right: 0;
      }
    }
  }
}
